---
import type { WhyChooseUsColumnBlock } from "@utils/payload/types";
interface Props extends WhyChooseUsColumnBlock {}

import { Icon } from "astro-iconify";
import "./style.css";
import Container from "@components/Container.astro";
import CustomImage from "@components/CustomImage.astro";
import { extractLexicalText } from "@utils/payload/helpers";
const props = Astro.props;
---

<div
    class="content_section page-section"
    data-highlight={props.highlight ?? 'false'}
    data-offscreen
>
    <Container>
        <header class="two_column_stat__header page-section__header">
            <h2>{props.title}</h2>
            <slot set:html={extractLexicalText(props.description)} />
        </header>
        <div class="two_column_stat__wrapper">
            <div class="two_column_stat__image_wrapper">
                {
                    props.image && (
                        <CustomImage
                            image={props.image}
                            classlist={`two_column_stat__image two_column_stat__image_${props.id}`}
                            size="large"
                            eager={false}
                        />
                    )
                }
            </div>
            <div class="two_column_stat__content_wrapper">
                {
                    props.options.map((option) => (
                        <div class="two_column_stat__content">
                            <h3 class="two_column_stat__content_title">
                                {option.title}
                            </h3>
                            <slot
                                class="two_column_stat__description"
                                set:html={extractLexicalText(
                                    option.description,
                                )}
                            />
                        </div>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
