---
import type { ContactBlock } from "@utils/payload/types";
interface Props extends ContactBlock {}

import "./contact.css";
import Container from "@components/Container.astro";
import { extractLexicalText } from "@utils/payload/helpers";
import IconLink from "@components/IconLink.astro";

const props = Astro.props;
---

<div class="two_column_contact container" id="contact" data-highlight="true">
    <Container>
        <header class="content_section__header">
            <h2>{props.title}</h2>
        </header>
        <div class="two_column_contact__content">
            <div class="two_column_contact__body">
                <adrress>
                    <slot
                        set:html={extractLexicalText(props.location.address)}
                    />
                </adrress>
                <div class="two_column_contact__phone">
                    {
                        props.contact.phone.map((phone) => (
                            <IconLink
                                href={phone.number}
                                type={phone.type}
                                text={phone.number}
                            />
                        ))
                    }
                </div>

                <div class="two_column_contact__email">
                    {
                        props.contact.email.map((email) => (
                            <IconLink
                                href={email.email}
                                type="email"
                                text={email.email}
                            />
                        ))
                    }
                </div>
                <!-- <InfoCard cards={info} direction="column" /> -->
            </div>

            <div class="two_column_contact__location">
                <slot set:html={props.location.iframe} />
            </div>
        </div>
    </Container>
</div>
