---
import Container from "@components/Container.astro";
import "./section.css";
import CustomImage from "@components/CustomImage.astro";
import Cards from "@components/Cards/Cards.astro";
const { data } = Astro.props;
---

<div
    class="content_section"
    data-highlight={data.highlight}
    id={data.type.split(" ").join("-")}
>
    <Container>
        {
            data.type !== "stats" && (
                <header class="content_section__header">
                    <h2>{data.title}</h2>
                </header>
                <div class="content_section__wrapper">
                    <div class="content_section__content">
                        <slot set:html={data.content} />
                    </div>

                {data.expand.image &&
                    <div class="content_section__image-wrapper" data-fancy-wrapper={data.expand.image.length > 1}>
                                 <CustomImage
                                    image={data.expand.image[0]}
                                    classlist="content_section__image"
                                    size="large"
                                    eager={false}
                                />
                    </div>
                    }
                </div>
            )
        }
        {
            data.expand.section_grid && (
                <Cards
                    card_type={data.grid_type}
                    cards={data.expand.section_grid}
                    data={data}
                />
            )
        }
    </Container>
</div>