---
import Container from "@components/Container.astro";
import "./hero.css";
import { inferRemoteSize, Picture } from "astro:assets";
import { getImageUrl } from "@utils/pocketbase";

interface Props {
    title: string;
    excerpt: string;
    image: {
        [key: string]: string;
    };
}
const { title, excerpt, image } = Astro.props;

const { width, height } = await inferRemoteSize(
    getImageUrl({
        collection: image,
        filename: image.image,
    }),
);
---

<header class="hero full-width">
    <Container>
        <div class="hero__wrapper">
            <article class="hero__content">
                <h1>{title}</h1>
                <p>{excerpt}</p>
            </article>

            <Picture
                src={getImageUrl({
                    collection: image,
                    filename: image.image,
                })}
                alt={image.alt}
                width={width}
                height={height}
                formats={["avif", "webp"]}
                widths={[300, 400, 500, width]}
                sizes={`(max-width: 360px) 300px, (max-width: 768px) 400px, (max-width: 1280px) 500px, ${width}px`}
                class="hero__image"
            />
        </div>
    </Container>
</header>
