---
import Container from "@components/Container.astro";
import "./partners.css";
import CustomImage from "@components/CustomImage.astro";
const { data } = Astro.props;

interface Card {
    expand: {
        image: {
            image: string;
            title: string;
            fit: string;
            position: string;
        };
    };
}

const cards = data.expand.section_grid;

---

<div class="partners container">
    <Container> 
        <!-- <h2 class="partners__title">{data.title}</h2> -->
        <div class="partners-scroll-wrapper">
            <div class="partners-scroll-content">
                <div class="partners-row">
                    {
                        cards?.map((card: Card) => (
                            <div class="partner">
                                <CustomImage
                                    image={card.expand.image}
                                    classlist="partner__image_component"
                                    size="small"
                                    eager={false}
                                />
                            </div>
                        ))
                    }
                </div>
                <div class="partners-row" aria-hidden="true">
                    {
                        cards?.map((card: Card) => (
                            <div class="partner">
                                <CustomImage
                                    image={card.expand.image}
                                    classlist="partner__image_component"
                                    size="small"
                                    eager={false}
                                />
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </Container>
</div>
