---
import Container from "@components/Container.astro";
import "./partners.css";
import { Picture, inferRemoteSize } from "astro:assets";
import { getImageUrl } from "@utils/pocketbase";
const { page } = Astro.props;

interface Card {
    expand: {
        image: {
            image: string;
            alt: string;
        };
    };
}

const cards = page.expand.card_grid;
---

<div class="partners containerfull-width">
    <Container>
        <h2 class="partners__title">{page.title}</h2>
        <div class="partners-scroll-wrapper">
            <div class="partners-scroll-content">
                <div class="partners-row">
                    {
                        cards?.map((card: Card) => (
                            <div class="partner">
                                <Picture
                                    src={getImageUrl({
                                        collection: card.expand.image,
                                        filename: card.expand.image.image,
                                    })}
                                    inferSize
                                    formats={["avif", "webp"]}
                                    widths={[150]}
                                    sizes={`150px`}
                                    alt={card.expand.image.alt}
                                    class="partner__image"
                                    alt={card.expand.image.alt}
                                />
                            </div>
                        ))
                    }
                </div>
                <div class="partners-row" aria-hidden="true">
                    {
                        cards?.map((card: Card) => (
                            <div class="partner">
                                <Picture
                                    src={getImageUrl({
                                        collection: card.expand.image,
                                        filename: card.expand.image.image,
                                    })}
                                    inferSize
                                    formats={["avif", "webp"]}
                                    widths={[150]}
                                    sizes={`150px`}
                                    alt={card.expand.image.alt}
                                    class="partner__image"
                                    alt={card.expand.image.alt}
                                />
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </Container>
</div>
