---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import "./nav.css";
import CustomImage from "@components/CustomImage.astro";
interface Props {
    fixedMenu: boolean;
    data: {
        links: [string];
        logo: {
            [key: string]: string;
        };
        title: string;
    };
}

const {
    data: { links, logo, title },
    fixedMenu,
} = Astro.props;

const pageLinks = links.map(link => 
    link === "home" ? {name: "Home", href: "/"} : {name: link, href:`#${link.split(" ").join("-")}`}
);
---

<nav
    class="sticky-nav"
    data-nav-bar
    data-nav
    data-is-active="false"
    data-fixed-menu={fixedMenu}
>
    <Container>
        <div class="sticky-nav__wrapper">
            <a class="sticky-nav__logo">
                <CustomImage
                    eager={true}
                    image={logo}
                    classlist="sticky-nav__logo-image"
                    size="small"
                />
                <span class="sticky-nav__logo-text">{title}</span>
            </a>
            <menu class="sticky-nav__menu" data-menu data-is-active="false">
                {
                    pageLinks.map((link, index) => (
                        <li>
                            <a
                                title={link.href}
                                href={link.href}
                                class={
                                    index === pageLinks.length - 1
                                        ? "sticky-nav__link sticky-nav__link--cta"
                                        : "sticky-nav__link"
                                }
                            >
                                <div />
                                <span>{link.name}</span>
                            </a>
                        </li>
                    ))
                }
            </menu>
            <div class="sticky-nav__actions">
                <button type="button"
                    id="sticky_nav__toggle"
                    class="sticky_nav__toggle btn btn-primary btn-icon"
                    data-menu-toggle
                    data-is-active="false"
                    aria-label="toggle navigation"
                    aria-expanded="false"
                >
                    <Icon
                        name="mdi:menu"
                        aria-hidden="true"
                        focusable="false"
                        data-toggle-icon
                        data-is-active="true"
                    />
                    <Icon
                        name="mdi:close"
                        aria-hidden="true"
                        focusable="false"
                        data-toggle-icon
                        data-is-active="false"
                    />
                </button>
            </div>
        </div>
    </Container>
</nav>

<script>
    import "@utils/navigationEvents";
</script>
