---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import CustomImage from "@components/CustomImage.astro";
import { translateNavItem } from "@utils/translations";
import "./style.css";

type Link = {
    id: string;
    name: string;
    anchorId: string;
    style: string;
};
const {
    navigation: { logo, menuItems },
    fixedMenu,
    blackText,
    country,
    title,
} = Astro.props;

const pageLinks = menuItems.map((link: Link) =>
    link.name === "home"
        ? { ...link, name: translateNavItem("home", country), anchorId: "/" }
        : {
              ...link,
              name: translateNavItem(link.name, country),
              anchorId: `#${link.anchorId.split(" ").join("-")}`,
          },
);

---

<nav
    class="floating-pill-nav"
    data-nav-bar
    data-nav
    data-is-active="false"
    data-menu-toggled="false"
    data-fixed-menu={fixedMenu}
    data-black-text={blackText}
    aria-label="page navigation"
>
    <Container>
        <div class="floating-pill-nav__wrapper glass">
            <a
                class="floating-pill-nav__logo"
                href="/"
                aria-label={title.trim()}
            >
                <!-- {logo.url.length !== '' && <CustomImage
                    eager={true}
                    image={logo}
                    classlist="floating-pill-nav__logo-image"
                    size="small"
                />} -->
                <span class="floating-pill-nav__logo-text">{title}</span>
            </a>
            <menu
                class="floating-pill-nav__menu"
                data-menu
                data-is-active="false"
                aria-label="page menu"
                role="menu"
                aria-haspopup="true"
                aria-expanded="false"
            >
                {
                    pageLinks.map((link: Link) => (
                        <li class="floating-pill-nav__menu-item">
                            <a
                                title={link.name}
                                href={link.anchorId}
                                class={
                                    link.style !== "default"
                                        ? "floating-pill-nav__link floating-pill-nav__link--cta"
                                        : "floating-pill-nav__link"
                                }
                            >
                                {link.name}
                            </a>
                        </li>
                    ))
                }
            </menu>

            <button
                type="button"
                class="floating-pill-nav__toggle"
                data-menu-toggle
                data-is-active="false"
                aria-label="toggle page menu"
            >
                <Icon
                    name="mdi:menu"
                    aria-hidden="true"
                    focusable="false"
                    data-toggle-icon
                    data-is-active="true"
                />
                <Icon
                    name="mdi:close"
                    aria-hidden="true"
                    focusable="false"
                    data-toggle-icon
                    data-is-active="false"
                />
            </button>
        </div>
    </Container>
</nav>
