---
import ColourfulCard from "@components/Cards/ColourfulCard/ColourfulCard.astro";
import "./hero.css";
import Container from "@components/Container.astro";
import CustomImage from "@components/CustomImage.astro";
const { title, excerpt, image, grid } = Astro.props;
---

<header class="default-horizontal content_section">
    <Container>
        <div class="default-horizontal__wrapper">
            <div class="default-horizontal__content">
                <h1>{title}</h1>
                <p>{excerpt}</p>
            </div>
            <div class="default-horizontal__image">
                <CustomImage
                    image={image}
                    classlist="default-horizontal__image-image"
                    size="large"
                    eager={false}
                />
            </div>
        </div>
        {grid && <ColourfulCard cards={grid} />}
    </Container>
</header>
