---
import Container from "@components/Container.astro";
import "./hero.css";
import { inferRemoteSize, Picture } from "astro:assets";
import { getImageUrl } from "@utils/pocketbase";

interface Props {
    title: string;
    excerpt: string;
    image: {
        [key: string]: string;
    };
}
const { title, excerpt, image } = Astro.props;

const url = getImageUrl({
    collection: image,
    filename: image.file,
});

const { width, height } = await inferRemoteSize(url);
---

<header class="black_modern">
    <Container>
        <div class="black_modern__wrapper">
            <article class="black_modern__content">
                <h1>{title}</h1>
                <p>{excerpt}</p>
            </article>
            <!-- <div class="black_modern__image_wrapper full-width">
                <Picture
                src={url}
                alt={image.title}
                width={width}
                height={height}
                formats={["avif", "webp"]}
                widths={[350, 800, width]}
                sizes={`(max-width: 1280px) 350px, ${width}px`}
                quality={80}
                class="black_modern__image"
                loading="eager"
                decoding="sync"
                />
                </div> -->
        </div>
    </Container>
</header>
