---
import { Icon } from "astro-iconify";
import "./card.css"
interface Card {
    title: string;
    content: string;
    icon_name: string;
}

const {cards} = Astro.props

const cardStyles = [
    { bg: 'var(--clr-primary-darker)' },
    { bg: 'var(--clr-tertiary-darker)' },
    { bg: 'var(--clr-secondary-darker)' },
    { bg: 'var(--clr-tertiary-darker)' },
    { bg: 'var(--clr-primary-darker)' },
    { bg: 'var(--clr-secondary-darker)' },
];
---

<div class="colourful-card__grid">
    {
        cards.map((card: Card, index: number) => {
            const style = cardStyles[index % cardStyles?.length];
            return (
                <div
                    class="colourful-card__item"
                    style={`background-color: ${style.bg};`}
                >
                    <div class="colourful-card__icon-box">
                        <Icon class="colourful-card__icon" name={card.icon_name} aria-hidden="true" focusable="false" />
                    </div>
                    <article class="colourful-card__item-content">
                        <h3>{card.title}</h3>
                        <slot class="colourful-card__description" set:html={card.content} />
                    </article>
                </div>
            )
        })
    }
</div>