---
import Container from "@components/Container.astro";
import "./fancy_about.css";
import { Picture, inferRemoteSize } from "astro:assets";
import { getImageUrl } from "@utils/pocketbase";

const { page } = Astro.props;
const { width, height } = await inferRemoteSize(
    getImageUrl({
        collection: page.expand.page_image,
        filename: page.expand.page_image.image,
    }),
);
---

<div id="about-us" class="fancy-about full-width" data-highlight="true">
    <Container>
        <div class="fancy_about__content--top">
            <article class="fancy_about__content--bottom">
                <h2>{page.title}</h2>
                <div class="content">
                    <slot set:html={page.content} />
                </div>
            </article>
            <Picture
                src={getImageUrl({
                    collection: page.expand.page_image,
                    filename: page.expand.page_image.image,
                })}
                width={width}
                height={height}
                formats={["avif", "webp"]}
                widths={[500, width]}
                sizes={`(max-width: 1366px) 400px, ${width}px`}
                alt={page.expand.page_image.alt}
                class="fancy_about__image"
            />
        </div>
        {
            page.expand.multiple_content && (
                <div class="fancy_about_grid">
                    {page.expand.multiple_content.map((content: any) => (
                        <div class="wrapper">
                            <slot set:html={content.content} />
                        </div>
                    ))}
                </div>
            )
        }
    </Container>
</div>
