---
import { getData, getImageUrl } from "@src/utils/pocketbase";
import { languages } from "@utils/translations";
import { AstroFont } from "astro-font";
import PageNavigation from "@components/PageNavigation/PageNavigation.astro";
import { getImage } from "astro:assets";
import "@assets/css/reset.css";
import "@assets/css/global.css";
import PageHero from "@components/Hero/PageHero.astro";
import Sections from "@components/Sections/Sections.astro";
import ContactSection from "@components/Sections/Contact Sections/ContactSection.astro";
import Footer from "@components/Footer/Footer.astro";
import Head from "@components/Head.astro";
import { fetchPage } from "@utils/payload";

const fonts = {
	regular: {
		name: "Atkinson Hyperlegible",
		weight: "400",
		url: "https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2",
	},
	bold: {
		name: "Atkinson Hyperlegible",
		weight: "700",
		url: "https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9dCWP.woff2",
	},
	serif: {
		name: "DM Serif Display",
		weight: "400",
		url: "https://fonts.gstatic.com/s/dmseriftext/v12/rnCu-xZa_krGokauCeNq1wWyWfSFXQ.woff2",
	},
	heading: {
		name: "IBM Plex Sans Condensed",
		weight: "700",
		url: "https://fonts.gstatic.com/s/ibmplexsanscondensed/v14/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY4S7bvspYY.woff2",
	},
	serif_modern: {
		name: "Cormorant Garamond",
		weight: "400",
		url: "https://fonts.gstatic.com/s/cormorantgaramond/v20/co3bmX5slCNuHLi8bLeY9MK7whWMhyjYqXtK.woff2",
	},
};

const parentUrls: Record<string, string> = {
    ke: 'https://www.yellowpageskenya.com/',
    cv: 'https://www.paginasamarelas.cv/',
    mz: 'https://www.paginasamarelas.co.mz/',
    tz: 'https://www.yellow.co.tz/',
    st: 'https://www.paginasamarelas.st/',
};

const companyNames: Record<string, string> = {
    ke: 'Yellow Pages Kenya',
    cv: 'Páginas Amarelas de Cabo Verde',
    mz: 'Páginas Amarelas Moçambique',
    tz: 'Yellow Tanzania',
    st: 'Páginas Amarelas São Tomé',
};

const { country, themeColor, footerStyle, title} = await fetchPage(1, [
	"country",
	"themeColor",
	"footerStyle",
	"title"
]);

console.log({footerStyle})
---

<!doctype html>
<html lang={languages[country]}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="color-scheme" content="light" />
		<meta name="theme-color" content={themeColor} />
		<meta name="robots" content="index, follow" />

		<Head />

		<script src="@utils/navigationEvents.ts"></script>
	</head>
	<body>
		<PageNavigation />
		<main>
			<Sections />
		</main>
		<Footer title={title} style={footerStyle} country={country} company={companyNames[country]} url={parentUrls[country]} />
		<!-- <PageNavigation
			links={record.links}
			logo={record.expand.logo}
			title={record.title}
			style={record.nav_style}
			hero_style={record.hero_style}
			country={record.country}
			social_links={record.expand.social_links}
		/>
		<PageHero
			image={record.expand.hero_image}
			cover={record.expand?.hero_cover}
			title={record.hero_title}
			excerpt={record.hero_excerpt}
			type={record.hero_style}
			core_values={record.core_values}
			cards={record.expand.hero_grid}
		/>
		<main>
			<Sections
				sections={record.expand.sections}
				core_values={record.core_values}
			/>
			<ContactSection
				title={record.contact_title}
				info={record.expand.contact_info}
				location={record.expand.contact_location}
				operating_hours={record.expand.operating_hours}
				social_links={record.expand.social_links}
				style={record.contact_style}
				location_info={record.expand.location}
			/>
		</main>
		<Footer
			company={record.company}
			title={record.title}
			style={record.footer_style}
			country={record.country}
		/> -->
	</body>
</html>
<style define:vars={{ themeColor }} is:global></style>
