---
import { getData } from "@src/utils/pocketbase";
import { SEO } from "astro-seo";
import { AstroFont } from "astro-font";
import PageNavigation from "@components/PageNavigation/PageNavigation.astro";

import "@assets/css/reset.css";
import "@assets/css/global.css";
import PageHero from "@components/Hero/PageHero.astro";
import Sections from "@components/Sections/Sections.astro";
import ContactSection from "@components/Sections/Contact Sections/ContactSection.astro";
import Footer from "@components/Footer/Footer.astro";

const languages: Record<string, string> = {
	ke: "en-KE",
	cv: "pt-CV",
	mz: "pt-MZ",
	tz: "en-TZ",
	st: "pt-ST",
};

const fonts: Record<string, string> = {
	regular:
		"https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2",
	bold: "https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9dCWP.woff2",
};
const record = await getData();
---

<!doctype html>
<html lang={languages[record.country]}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="color-scheme" content="light" />
		<meta name="theme-color" content={record.theme_color} />
		<meta name="robots" content="index, follow" />
		<slot name="analytics" set:html={record.analytics_id} />
		<slot set:html={record.search_console} />

		<link rel="sitemap" href="/sitemap.xml" />

		<link
			rel="alternate"
			href={record.url}
			hreflang={languages[record.country]}
		/>
		<link rel="alternate" href={record.url} hreflang="x-default" />

		<link
			rel="icon"
			type="image/jpg"
			sizes="16x16"
			href="/favicon/favicon-16x16.jpg"
		/>
		<link
			rel="icon"
			type="image/jpg"
			sizes="32x32"
			href="/favicon/favicon-32x32.jpg"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.jpg"
		/>
		<link rel="icon" href="/favicon/favicon.ico" />
		<link rel="manifest" href="/favicon/manifest.json" />

		<SEO
			title={record.meta_title}
			description={record.meta_description}
			openGraph={{
				basic: {
					title: record.title,
					image: `${record.url}/assets/logo.webp`,
					type: "website",
					url: record.url,
				},
			}}
			twitter={{
				site: record.url,
				card: "summary_large_image",
				creator: "@yellowpages254",
				title: record.title,
				description: record.meta_description,
				image: `${record.url}/assets/logo.webp`,
			}}
			extend={{
				meta:[
					{property: "og:description", content: record.meta_description},
					{property: "og:site_name", content: record.title},
				]
			}}
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://www.google-analytics.com" />
		<link rel="dns-prefetch" href="https://www.google-analytics.com" />
		<link rel="preconnect" href="https://www.googletagmanager.com" />
		<link rel="dns-prefetch" href="https://www.googletagmanager.com" />

		<link rel="preload" as="style" href="/assets/index.min.css" />
		<!-- <link rel="preload" as="font" type="font/woff2" href={fonts.regular} />
		<link rel="preload" as="font" type="font/woff2" href={fonts.bold} /> -->

		<AstroFont
			config={[
				{
					name: "Atkinson Hyperlegible",
					src: [
						{
							style: "normal",
							weight: "400",
							path: fonts.regular,
						},
						{
							style: "normal",
							weight: "700",
							path: fonts.bold,
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},{
					name: "DM Serif Display",
					src: [{
						style: "normal",
						weight: "400",
						path: "https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap",
					}],
					preload: true,
					display: "swap",
					selector: "h1",
					fallback: "serif",
				}
			]}
		/>
	</head>
	<body>
		<PageNavigation
		links={record.links}
		logo={record.expand.logo}
		title={record.title}
		style={record.nav_style}
		hero_style={record.hero_style}
		country={record.country}
		/>
		<PageHero
		image={record.expand.hero_image}
		cover={record.expand?.hero_cover}
		title={record.hero_title}
		excerpt={record.hero_excerpt}
		type={record.hero_style}
		core_values={record.core_values}
		cards={record.expand.hero_grid}
		/>
		<main>
			<Sections
			sections={record.expand.sections}
			core_values={record.core_values}
			/>
			<ContactSection
				title={record.contact_title}
				info={record.expand.contact_info}
				location={record.expand.contact_location}
				style={record.contact_style}
			/>
		</main> 
		<Footer company={record.company} title={record.title} style={record.footer_style} country={record.country}/>
	</body>
</html>
<style define:vars={{ themeColor: record.theme_color}} is:global></style>

