---
import { getData, getImageUrl } from "@src/utils/pocketbase";
import { SEO } from "astro-seo";
import { AstroFont } from "astro-font";
import PageNavigation from "@components/PageNavigation/PageNavigation.astro";
import { getImage } from "astro:assets";
import "@assets/css/reset.css";
import "@assets/css/global.css";
import PageHero from "@components/Hero/PageHero.astro";
import Sections from "@components/Sections/Sections.astro";
import ContactSection from "@components/Sections/Contact Sections/ContactSection.astro";
import Footer from "@components/Footer/Footer.astro";

const languages: Record<string, string> = {
	ke: "en-KE",
	cv: "pt-CV",
	mz: "pt-MZ",
	tz: "en-TZ",
	st: "pt-ST",
};

const fonts = {
	regular: {
		name: "Atkinson Hyperlegible",
		weight: "400",
		url: "https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2",
	},
	bold: {
		name: "Atkinson Hyperlegible",
		weight: "700",
		url: "https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9dCWP.woff2",
	},
	serif: {
		name: "DM Serif Display",
		weight: "400",
		url: "https://fonts.gstatic.com/s/dmseriftext/v12/rnCu-xZa_krGokauCeNq1wWyWfSFXQ.woff2",
	},
	heading: {
		name: "IBM Plex Sans Condensed",
		weight: "700",
		url: "https://fonts.gstatic.com/s/ibmplexsanscondensed/v14/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY4S7bvspYY.woff2",
	},
	serif_modern: {
		name: "Cormorant Garamond",
		weight: "400",
		url: "https://fonts.gstatic.com/s/cormorantgaramond/v20/co3bmX5slCNuHLi8bLeY9MK7whWMhyjYqXtK.woff2",
	},
};
const record = await getData();

const logoSrc = getImageUrl({
	collection: record.expand.logo,
	filename: record.expand.logo.file,
});
---

<!doctype html>
<html lang={languages[record.country]}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="color-scheme" content="light" />
		<meta name="theme-color" content={record.theme_color} />
		<meta name="robots" content="index, follow" />

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://www.google-analytics.com" />
		<link rel="dns-prefetch" href="https://www.google-analytics.com" />
		<link rel="preconnect" href="https://www.googletagmanager.com" />
		<link rel="dns-prefetch" href="https://www.googletagmanager.com" />

		<link rel="preload" as="style" href="/assets/index.min.css" />

		<slot set:html={record.search_console} />

		<link rel="sitemap" href="/sitemap.xml" />

		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap"
			rel="stylesheet"
		/>

		<link
			rel="alternate"
			href={record.url}
			hreflang={languages[record.country]}
		/>
		<link rel="alternate" href={record.finalUrl} hreflang="x-default" />

		<link
			rel="icon"
			type="image/jpg"
			sizes="16x16"
			href="/favicon/favicon-16x16.jpg"
		/>
		<link
			rel="icon"
			type="image/jpg"
			sizes="32x32"
			href="/favicon/favicon-32x32.jpg"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.jpg"
		/>
		<link rel="icon" href="/favicon/favicon.ico" />
		<link rel="manifest" href="/favicon/manifest.json" />

		<SEO
			title={record.meta_title}
			description={record.meta_description}
			openGraph={{
				basic: {
					title: record.title,
					image: `${record.finalUrl}${logoSrc}`,
					type: "website",
					url: record.url,
				},
			}}
			twitter={{
				site: record.finalUrl,
				card: "summary_large_image",
				creator: "@yellowpages254",
				title: record.title,
				description: record.meta_description,
				image: `${record.finalUrl}${logoSrc}`,
			}}
			extend={{
				meta: [
					{
						property: "og:description",
						content: record.meta_description,
					},
					{ property: "og:site_name", content: record.title },
				],
			}}
		/>

		<AstroFont
			config={[
				{
					name: fonts.regular.name,
					src: [
						{
							style: "normal",
							weight: fonts.regular.weight,
							path: fonts.regular.url,
						},
						{
							style: "normal",
							weight: fonts.bold.weight,
							path: fonts.bold.url,
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
				{
					name: fonts.heading.name,
					src: [
						{
							style: "normal",
							weight: fonts.serif_modern.weight,
							path: fonts.serif_modern.url,
						},
					],
					preload: true,
					display: "swap",
					selector: "h1,h2",
					fallback: "sans-serif",
				},
			]}
		/>
		<script src="@utils/navigationEvents.ts"></script>
		<slot name="analytics" set:html={record.analytics_id} />
	</head>
	<body>
		<PageNavigation
			links={record.links}
			logo={record.expand.logo}
			title={record.title}
			style={record.nav_style}
			hero_style={record.hero_style}
			country={record.country}
			social_links={record.expand.social_links}
		/>
		<PageHero
			image={record.expand.hero_image}
			cover={record.expand?.hero_cover}
			title={record.hero_title}
			excerpt={record.hero_excerpt}
			type={record.hero_style}
			core_values={record.core_values}
			cards={record.expand.hero_grid}
		/>
		<main>
			<Sections
				sections={record.expand.sections}
				core_values={record.core_values}
			/>
			<ContactSection
				title={record.contact_title}
				info={record.expand.contact_info}
				location={record.expand.contact_location}
				operating_hours={record.expand.operating_hours}
				social_links={record.expand.social_links}
				style={record.contact_style}
			/>
		</main>
		<Footer
			company={record.company}
			title={record.title}
			style={record.footer_style}
			country={record.country}
		/>
	</body>
</html>
<style define:vars={{ themeColor: record.theme_color }} is:global></style>
