---
interface Props {
    cards: [];
    data: {
       [key: string]: any
    };
}
interface Card {
    title: string;
    content: string;
    icon_name: string;
}

import { Icon } from "astro-icon/components";
import "./stats.css"
import Container from "@components/Container.astro";
const {cards, data} = Astro.props
---

<Container>
    <div class="stats_container container">
        <div class="stats_grid">
            <div class="stats_grid__card">
                <div class="card_content">
                    <h2>{data.title}</h2>
                    <slot class="description" set:html={data.content} />
                </div>
            </div>
            {
                cards.map((card: Card) => (
                    <div class="stats_grid__card">
                        <div class="icon_wrapper">
                            {card.icon_name && <Icon class="icon" name={card.icon_name} aria-hidden="true" focusable="false" />}
                        </div>
                        <div class="card_content">
                            <h3>{card.title}</h3>
                            <slot class="description" set:html={card.content} />
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Container>