---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import CustomImage from "@components/CustomImage.astro";
import { translateNavItem } from "@utils/translations";
import "./style.css";
import InfoCard from "@components/Cards/Info/InfoCard.astro";

const {
    data: { links, logo, title, social_links },
    fixedMenu,
    blackText,
    country,
} = Astro.props;

const pageLinks = links.map((link: string) =>
    link === "home"
        ? { name: translateNavItem("home", country), href: "/" }
        : {
              name: translateNavItem(link, country),
              href: `#${link.split(" ").join("-")}`,
          },
);
---

<nav
    class="simple-nav"
    data-nav-bar
    data-nav
    data-is-active="false"
    data-menu-toggled="false"
    data-fixed-menu={fixedMenu}
    data-black-text={blackText}
    aria-label="page navigation"
>
    <Container>
        <!-- <div class="simple-nav__top-bar" data-topbar>
            <InfoCard cards={social_links} />
        </div> -->
        <div class="simple-nav__wrapper">
            <a class="simple-nav__logo" href="/" aria-label={title.trim()}>
                <CustomImage
                    eager={true}
                    image={logo}
                    classlist="simple-nav__logo-image"
                    size="small"
                />
                <span class="simple-nav__logo-text">{title}</span>
            </a>

            <menu
                class="simple-nav__menu"
                data-menu
                data-is-active="false"
                aria-label="page menu"
                role="menu"
                aria-haspopup="true"
                aria-expanded="false"
            >
                {
                    pageLinks.map((link: {href: string, name: string}, index: number) => (
                        <li>
                            <a
                                title={link.href}
                                href={link.href}
                                class={
                                    index === pageLinks?.length - 1
                                        ? "simple-nav__link simple-nav__link--cta"
                                        : "simple-nav__link"
                                }
                            >
                                {link.name}
                            </a>
                        </li>
                    ))
                }
            </menu>

            <button
                type="button"
                class="simple-nav__toggle"
                data-menu-toggle
                data-is-active="false"
                aria-label="toggle page menu"
            >
                <Icon
                    name="mdi:menu"
                    aria-hidden="true"
                    focusable="false"
                    data-toggle-icon
                    data-is-active="true"
                />
                <Icon
                    name="mdi:close"
                    aria-hidden="true"
                    focusable="false"
                    data-toggle-icon
                    data-is-active="false"
                />
            </button>
        </div>
    </Container>
</nav>
