---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import CustomImage from "@components/CustomImage.astro";
import { translateNavItem } from "@utils/translations";
import "./style.css";
import InfoCard from "@components/Cards/Info/InfoCard.astro";
type Link = {
    id: string;
    name: string;
    anchorId: string;
    style: string;
};
const {
    navigation: { logo, menuItems },
    fixedMenu,
    blackText,
    country,
    title,
} = Astro.props;

const pageLinks = menuItems.map((link: Link) =>
    link.name === "home"
        ? { ...link, name: translateNavItem("home", country), anchorId: "/" }
        : {
              ...link,
              name: translateNavItem(link.name, country),
              anchorId: `#${link.anchorId.split(" ").join("-")}`,
          },
);
---

<nav
    class="simple-nav"
    data-nav-bar
    data-nav
    data-is-active="false"
    data-menu-toggled="false"
    data-fixed-menu={fixedMenu}
    data-black-text={blackText}
    aria-label="page navigation"
>
    <Container>
        <!-- <div class="simple-nav__top-bar" data-topbar>
            <InfoCard cards={social_links} />
        </div> -->
        <div class="simple-nav__wrapper">
            <a class="simple-nav__logo" href="/" aria-label={title.trim()}>
                <CustomImage
                    eager={true}
                    image={logo}
                    classlist="simple-nav__logo-image"
                    size="logo"
                />
                <span class="simple-nav__logo-text">{title}</span>
            </a>

            <menu
                id="main-navigation-menu"
                class="simple-nav__menu"
                data-menu
                data-is-active="false"
                aria-label="page menu"
                role="navigation"
            >
                {
                    pageLinks.map((link: Link) => (
                        <li>
                            <a
                                title={link.name}
                                href={link.anchorId}
                                class={
                                    link.style !== "default"
                                        ? "simple-nav__link simple-nav__link--cta"
                                        : "simple-nav__link"
                                }
                            >
                                {link.name}
                            </a>
                        </li>
                    ))
                }
            </menu>

            <button
                type="button"
                class="simple-nav__toggle"
                data-menu-toggle
                data-is-active="false"
                aria-label="toggle page menu"
                aria-controls="main-navigation-menu"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <Icon
                    name="mdi:menu"
                    aria-hidden="true"
                    focusable="false"
                    data-toggle-icon
                    data-is-active="true"
                />
                <Icon
                    name="mdi:close"
                    aria-hidden="true"
                    focusable="false"
                    data-toggle-icon
                    data-is-active="false"
                />
            </button>
        </div>
    </Container>
</nav>
