---
interface Card {
    [key: string]: {
        [key: string]: any;
    };
}
import { Picture } from "astro:assets";
import style from "./basic.module.css";
import { getImageUrl } from "@utils/pocketbase";
const { cards } = Astro.props;
---

<div class={style.card_grid}>
    {
        cards.map((card: Card) => (
            <article>
                <Picture
                    src={getImageUrl({
                        collection: card.expand.image,
                        filename: card.expand.image.image,
                    })}
                    alt={card.expand.image.alt}
                    inferSize
                    formats={["avif", "webp"]}
                    widths={[350, 500]}
                    sizes={`(max-width: 1366px) 350px, 500px`}
                    quality={80}
                    class={style.image_component__image}
                    loading="lazy"
                    decoding="async"
                />
                <div>
                    <h3>{card.title}</h3>
                    <slot set:html={card.body} />
                </div>
            </article>
        ))
    }
</div>
