---
import type {BasicCard} from '@utils/payload/types'
import s from "./style.module.css";
import CustomImage from "@components/CustomImage.astro";
import { extractLexicalText } from '@utils/payload/helpers';
const {cards} = Astro.props;
---

<div class={s["basic_card"]}>
    {
        cards.map((card: BasicCard) => (
            <article data-animate="slide-up">
                {card.image && (
                    <div class={s["basic_card__image-wrapper"]}>
                        <CustomImage eager={false} image={card.image} size="medium" classlist={s["basic_card__image_component"]} />
                    </div>
                )}
                <div class={s["basic_card__content"]}>
                    <h3>{card.title}</h3>
                    <slot set:html={extractLexicalText(card.body)} />
                </div>
            </article>
        ))
    }
</div>
