---
import Container from "@components/Container.astro";
import "./cta.css"
import { Icon } from "astro-icon/components";

import CustomImage from "@components/CustomImage.astro";
import Cards from "@components/Cards/Cards.astro";
const { data } = Astro.props;
---

<div class="cta full-width">
    <Container>
        <div class="cta__wrapper">
            <div class="cta__content">
                <div class="cta__heading">
                    {
                        data.core_values && (
                            <ul class="cta__core_values">
                                {data.core_values.split(",").map((value: any) => (
                                    <li>
                                        <Icon
                                            name="mdi:check-bold"
                                            aria-hidden="true"
                                            focusable="false"
                                        />
                                        {value.trim()}
                                    </li>
                                ))}
                            </ul>
                        )
                    }
                    <h2>{data.title}</h2>
                    <slot set:html={data.content} />
                    {data.expand.section_grid && (
                        <Cards card_type={data.grid_type} cards={data.expand.section_grid} data={data} />
                    )}
                    <a href="#contact-us" class="cta__link btn btn-md btn-secondary">Get in Touch</a>
                </div>
            </div>

            {
                data.expand.image.length > 0 && (
                    <div class="cta__image">
                        {data.expand.image.map((image: any) => (
                            <CustomImage image={image} classlist="content_section__image" size="large" fit={image.fit} position={image.position}/>
                        ))}
                    </div>
                )
            }
        </div>
    </Container>
</div>
