---
import InfoCard from "@components/Cards/Info/InfoCard.astro";
import Container from "@components/Container.astro";
import "./contact.css";

const { title, info, location, operating_hours, social_links } = Astro.props;
location.length <= 1 && location.map((loc: any) => (loc = loc));
---

<div class="default_contact container" id="contact" data-highlight="true">
    <Container>
        <div
            class="default_contact__content"
            data-two-column={location?.length <= 1 ? "true" : "false"}
        >
            <article>
                <h2>{title}</h2>
                <address class="contact_info">
                    <InfoCard cards={info} />
                </address>
                <div class="social_links">
                    <InfoCard cards={social_links} />
                </div>
                <div class="working_hours">
                    <InfoCard cards={[operating_hours]} />
                </div>
            </article>

            <div class="default_contact__location">
                {
                    location.map((location: any) => (
                        <div class="location">
                            <address set:html={location.content} />
                            <slot set:html={location.title} />
                        </div>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
