---
import "./contact.css";
import Container from "@components/Container.astro";
import { extractLexicalText } from "@utils/payload/helpers";
import IconLink from "@components/IconLink.astro";
import SocialLinkComponent from "@components/SocialLink.astro";

const props = Astro.props;
---

<div class="default_contact container" id="contact" data-highlight="true">
    <Container>
        <div
            class="default_contact__content"
        >
            <article>
                <h2>{props.title}</h2>
                <address class="two_column_contact__phone">
                    {
                        props.contact.phone.map((phone: any) => (
                            <IconLink
                                href={phone.number}
                                type={phone.type}
                                text={phone.number}
                            />
                        ))
                    }
                </address>

                <address class="two_column_contact__email">
                    {
                        props.contact.email.map((email: any) => (
                            <IconLink
                                href={email.email}
                                type="email"
                                text={email.email}
                            />
                        ))
                    }
                </address>
                {
                    props.socialLinks.length > 0 && (
                        <div class="social_links">
                           {props.socialLinks.map((social: any) => (
                            <SocialLinkComponent href={social.url} type={social.platform} text={social.title} />
                           ))}
                        </div>
                    )
                }
                <div class="working_hours">
                    <slot set:html={props.operatingHours} />
                </div>
            </article>

            <div class="default_contact__location">
                <address>
                    <slot set:html={extractLexicalText(props.location.address)} />
                </address>
                <slot set:html={props.location.iframe} />
            </div>
        </div>
    </Container>
</div>
